RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /error-404.html	

# Rewrite rules for clean URLs
RewriteRule ^about-us$ about-us.php [L,NC]
RewriteRule ^portfolio/bliss$ bliss.php [L,NC]
RewriteRule ^blogs-best-laminate-catalogue$ blogs-best-laminate-catalogue.php [L,NC]
RewriteRule ^blogs-grow-your-business$ blogs-grow-your-business.php [L,NC]
RewriteRule ^blogs-powerful-branding-strategies$ blogs-powerful-branding-strategies.php [L,NC]
RewriteRule ^category-blog$ category-blog.php [L,NC]
RewriteRule ^services/creative-design-agency-in-ahmedabad/?$ creative-design-agency.php [L,NC]
RewriteRule ^services/digital-marketing-agency-ahmedabad/?$ digital-marketing-agency.php [L,NC]
RewriteRule ^portfolio/evershine-color-trendenchanting$ evershine-color-trendenchanting.php [L,NC]
RewriteRule ^home$ index.php [L,NC]
RewriteRule ^portfolio/kooyoo-enchanting$ kooyoo-enchanting.php [L,NC]
RewriteRule ^portfolio/moonshineenchanting$ moonshineenchanting.php [L,NC]
RewriteRule ^portfolio/nelsonenchanting$ Nelsonlaminates.php [L,NC]
RewriteRule ^portfolio/ranberry-trends$ ranberry-trends.php [L,NC]
RewriteRule ^services-page$ services-page.php [L,NC]
RewriteRule ^services/website-design-company-in-ahmedabad/?$ website-design.php [L,NC]
RewriteRule ^services/advertising-agency-in-ahmedabad/?$ advertising-agency.php [L,NC]
RewriteRule ^blogs$ blogs.php [L,NC]
RewriteRule ^blogs/$ blogs.php [L,NC]
RewriteRule ^blogs-branding-vs-advertising$ blogs-branding-vs-advertising.php [L,NC]
RewriteRule ^blogs-rendering$ blogs-how-3d-rendering.php [L,NC]
RewriteRule ^portfolio/bravio-pastel-laminate$ bravio-pastel-laminate.php [L,NC]
RewriteRule ^portfolio/central$ central.php [L,NC]
RewriteRule ^portfolio/crysta-line$ crysta-line.php [L,NC]
RewriteRule ^portfolio/eco-woodamaurosis$ eco-woodamaurosis.php [L,NC]
RewriteRule ^portfolio/fabrinobeauty$ fabrinobeauty.php [L,NC]
RewriteRule ^portfolio/keton-micabeautiful$ keton-micabeautiful.php [L,NC]
RewriteRule ^portfolio/lammartcolor$ lammartcolor.php [L,NC]
RewriteRule ^portfolio/morbi-king$ morbi-king.php [L,NC]
RewriteRule ^portfolio/picsartelegance$ picsartelegance.php [L,NC]
RewriteRule ^portfolio/ranwood-rega$ ranwood-rega.php [L,NC]
RewriteRule ^services/ui-ux-design-company-in-ahmedabad/?$ ui-ux-design.php [L,NC]
RewriteRule ^services/3d-rendering-company-in-ahmedabad/?$ 3d-rendering.php [L,NC]
RewriteRule ^atina$ atina.php [L,NC]
RewriteRule ^blogs-2$ blogs-2.php [L,NC]
RewriteRule ^blogs-graphic-design$ blogs-graphic-design.php [L,NC]
RewriteRule ^blogs-creative-design-agency$ blogs-how-a-creative-design-agency.php [L,NC]
RewriteRule ^services/catalogue-design-company-in-ahmedabad/?$ catalogue-design.php [L,NC]
RewriteRule ^contact-us$ contact-us.php [L,NC]
RewriteRule ^portfolio/dazzle-berryenpastel$ dazzle-berryenpastel.php [L,NC]
RewriteRule ^portfolio/fabrino-fabric$ fabrino-fabric.php [L,NC]
RewriteRule ^kiana$ kiana.php [L,NC]
RewriteRule ^services/mobile-app-development-company-ahmedabad/?$ mobile-app-development.php [L,NC]
RewriteRule ^mr-velvet-ears$ mr-velvet-ears.php [L,NC]
RewriteRule ^portfolio$ Portfolio.php [L,NC]
RewriteRule ^services/exhibition-stall-design-company-ahmedabad/?$ exhibition-stall-design.php [L,NC]
RewriteRule ^portfolio/vanshlam$ vanshlam.php [L,NC]
RewriteRule ^blogs-(.+)//?$ blogsdetails.php?url=$1 [NC,L]
RewriteRule ^blogs/page//([^/\.]+)?$       blogs.php?page=$1 [NC,L]

# RewriteRule ^Natural Sesame Seeds natural-sesame-seeds.php [L]  