RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /error-404.html	

# Rewrite rules for clean URLs
RewriteRule ^about-us$ about-us.php [L,NC]
RewriteRule ^bliss$ bliss.php [L,NC]
RewriteRule ^blogs-best-laminate-catalogue$ blogs-best-laminate-catalogue.php [L,NC]
RewriteRule ^blogs-grow-your-business$ blogs-grow-your-business.php [L,NC]
RewriteRule ^blogs-powerful-branding-strategies$ blogs-powerful-branding-strategies.php [L,NC]
RewriteRule ^category-blog$ category-blog.php [L,NC]
RewriteRule ^creative-design-agency$ creative-design-agency.php [L,NC]
RewriteRule ^digital-marketing-agency$ digital-marketing-agency.php [L,NC]
RewriteRule ^evershine-color-trendenchanting$ evershine-color-trendenchanting.php [L,NC]
RewriteRule ^home$ index.php [L,NC]
RewriteRule ^kooyoo-enchanting$ kooyoo-enchanting.php [L,NC]
RewriteRule ^moonshineenchanting$ moonshineenchanting.php [L,NC]
RewriteRule ^nelsonlaminates$ Nelsonlaminates.php [L,NC]
RewriteRule ^ranberry-trends$ ranberry-trends.php [L,NC]
RewriteRule ^services-page$ services-page.php [L,NC]
RewriteRule ^website-design$ website-design.php [L,NC]
RewriteRule ^advertising-agency$ advertising-agency.php [L,NC]
RewriteRule ^blogs$ blogs.php [L,NC]
RewriteRule ^blogs-branding-vs-advertising$ blogs-branding-vs-advertising.php [L,NC]
RewriteRule ^blogs-rendering$ blogs-how-3d-rendering.php [L,NC]
RewriteRule ^bravio-pastel-laminate$ bravio-pastel-laminate.php [L,NC]
RewriteRule ^central$ central.php [L,NC]
RewriteRule ^crysta-line$ crysta-line.php [L,NC]
RewriteRule ^eco-woodamaurosis$ eco-woodamaurosis.php [L,NC]
RewriteRule ^fabrinobeauty$ fabrinobeauty.php [L,NC]
RewriteRule ^keton-micabeautiful$ keton-micabeautiful.php [L,NC]
RewriteRule ^lammartcolor$ lammartcolor.php [L,NC]
RewriteRule ^morbi-king$ morbi-king.php [L,NC]
RewriteRule ^picsartelegance$ picsartelegance.php [L,NC]
RewriteRule ^ranwood-rega$ ranwood-rega.php [L,NC]
RewriteRule ^ui-ux-design$ ui-ux-design.php [L,NC]
RewriteRule ^rendering$ 3d-rendering.php [L,NC]
RewriteRule ^atina$ atina.php [L,NC]
RewriteRule ^blogs-2$ blogs-2.php [L,NC]
RewriteRule ^blogs-graphic-design$ blogs-graphic-design.php [L,NC]
RewriteRule ^blogs-creative-design-agency$ blogs-how-a-creative-design-agency.php [L,NC]
RewriteRule ^catalogue-design$ catalogue-design.php [L,NC]
RewriteRule ^contact-us$ contact-us.php [L,NC]
RewriteRule ^dazzle-berryenpastel$ dazzle-berryenpastel.php [L,NC]
RewriteRule ^event-management$ event-management.php [L,NC]
RewriteRule ^fabrino-fabric$ fabrino-fabric.php [L,NC]
RewriteRule ^kiana$ kiana.php [L,NC]
RewriteRule ^mobile-app-development$ mobile-app-development.php [L,NC]
RewriteRule ^mr-velvet-ears$ mr-velvet-ears.php [L,NC]
RewriteRule ^portfolio$ Portfolio.php [L,NC]
RewriteRule ^vanshlam$ vanshlam.php [L,NC]


# RewriteRule ^Natural Sesame Seeds natural-sesame-seeds.php [L]  